@charset "utf-8";
/* CSS Document */
body
{
    margin:0px;
    padding:0px;
    cursor: url("../Img/Untitled-3.png"), auto;
}
#disclaimer
{
    display:inline-block;
    color:white;
    font-size:100px;
    padding:5% 21% 0%;  
}
#countDown1
{
    display:none;
    color:goldenrod;
    font-size:90px;
    padding:0% 48% 0%;
}
#countDown2
{
    display:none;
    color:goldenrod;
    font-size:90px;
    padding:0% 48% 0%;
}
#countDown3
{
    display:none;
    color:goldenrod;
    font-size:90px;
    padding:0% 48% 0%;
    
}
#start
{
    background-color:hsla(0,0%,0%,0.82);
    height:760px;
    width:100%;
    margin:0px;
    padding:0px;
}
#background
{
    display:none;
}
#navBar
{
    background-color: #00746F;
    height:80px;
    width:100%;
    padding:0px;
    display:none;
}
#nav
{
    list-style-type: none;
    font-size:30px;
    color:white;
    font-family: 'Alata', sans-serif;
    text-align: center;
    margin:0px;
    padding:17px 0px;
}
li
{
    float:left;
    width:24%;
}
.a
{
    color:goldenrod;
    font-size:35px;
}
#time
{
    display:inline;
}
#score
{
    display:inline;
}
#button
{
    font-size:35px;
    color:white;
    border:none;
    background-color:transparent;
    cursor: grab;
}
#size
{
    width:100%;
    height: 680px;
}
.mole
{
    height:200px;
    width:230px;
}
#loc1
{
    position:absolute;
    top:95px;
    left:123px;
    display: none;
    cursor: url("../Img/Untitled-4.png"), auto;
}
#loc2
{
    position:absolute;
    top:95px;
    left:675px;
    display: none;
    cursor: url("../Img/Untitled-4.png"), auto;
}
#loc3
{
    position:absolute;
    top:95px;
    left:1190px;
    display: none;
    cursor: url("../Img/Untitled-4.png"), auto;
}
#loc4
{
    position:absolute;
    top:405px;
    left:123px;
    display: none;
    cursor: url("../Img/Untitled-4.png"), auto;
}
#loc5
{
    position:absolute;
    top:405px;
    left:665px;
    display: none;
    cursor: url("../Img/Untitled-4.png"), auto;
}
#loc6
{
    position:absolute;
    top:405px;
    left:1190px;
    display: none;
    cursor: url("../Img/Untitled-4.png"), auto;
}

